:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
h1,
h2 {
  font-family: var(--heading-font-family);
}

.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 24px;
}
.hero p {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 0 auto;
}
.btn-branding {
  background: var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}
.homepage h2 {
  font-size: 64px;
  text-align: center;
}
img {
  width: 560px;
  height: 560px;
}
.homepage p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 20px;
}
.description {
  padding-left: 50px;
  font-weight: bold;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .desciption {
    padding: 0;
    text-align: center;
  }
}
.about-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
.about-section h2 {
  font-weight: 900;
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section p {
  font-weight: bold;
  font-size: 16px;
  font-family: var(--default-font-family);
}
.about-section img {
  border-radius: 10px;
  width: 480px;
}
.btn-projects {
  background: var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about-section-content {
  padding-bottom: 20px;
}
.about-section {
  padding: 130px 20px;
}
.content h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  padding: 160px 20px 20px;
}
.content h2,
h3 {
  margin: 10px;
  font-weight: bolder;
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content p {
  margin: 10px;
  font-size: 14px;
  font-family: var(--default-font-family);
  justify-content: space-evenly;
}
nav {
  padding: 20px 10px;
}
nav img {
  width: 150px;
  height: 41.817px;
}
nav ul {
  justify-content: right;
  list-style: none;
  margin: 0 auto;
  padding-left: 660px;
  padding-top: 10px;
}
nav li {
  display: inline;
  margin-left: 15px;
  font-family: var(--default-font-family);
  font-weight: 500;
  line-height: normal;
}

nav a:hover,
nav li.active a {
  color: #6c63ff;
}
nav a {
  font-weight: bold;
  color: rgba(39, 33, 66, 0.7);
  text-decoration: none;
}

footer a {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
  text-decoration: none;
}
footer .mail-box {
  padding: 50px 20px;
}
footer .social-links {
  margin-bottom: 60px;
}
footer .social-links a {
  margin: 30px 30px;
  padding: 10px 15px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.btn-footer {
  background: var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
}
footer .bottom-box {
  margin-top: 80px;
  padding: 30px 120px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
footer .bottom-box h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
footer .bottom-box p {
  margin: 0 auto;
  font-size: 18px;
  font-family: var(--default-font-family);
}
